<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Bank</title>
    <link rel="stylesheet" href="/css/index.css"> 
</head>
<body>
    <div class="navbar">
        <h1>Admin Dashboard</h1>
        <nav>
            <a href="/customerinfo" class="btn">Customers Information</a>
            <a href="/saving" class="btn">Savings Accounts </a>
            <a href="/chequing" class="btn">Chequing Accounts </a>
        </nav>
    </div>

    <div class="content">
        <h2>Customer Management Portal</h2>
        <p>Welcome to the admin dashboard. Here, you can oversee customer details, manage accounts, and review transaction history to maintain operational control and customer satisfaction.</p>
    </div>

    <footer>
        <p>&copy; 2024 Secure Bank Portal</p>
    </footer>
</body>
</html>
